In [2]:
import pandas as pd

In [9]:
names=['peter','harry','robert']
age=[21,22,34,23,43,54,45,23,54]

In [5]:
data=[['peter',21],['harry',22],['robert',34]]

In [6]:
# creating a data frame 
# relation between different name and different ages

df=pd.DataFrame(data,columns=['Name','Age'])
print(df)

     Name  Age
0   peter   21
1   harry   22
2  robert   34

In [7]:
df=pd.DataFrame(data,columns=['Name','Age'],index=['a','b','c'])

In [8]:
print(df)

     Name  Age
a   peter   21
b   harry   22
c  robert   34

In [10]:
df2=pd.DataFrame(age,columns=['Age'])
print(df2)

   Age
0   21
1   22
2   34
3   23
4   43
5   54
6   45
7   23
8   54

In [12]:
dict1={'Names':['peter','harry','robert'],'Age':[23,32,34]}
df3=pd.DataFrame(dict1)
print(df3)

    Names  Age
0   peter   23
1   harry   32
2  robert   34

In [14]:
df3.rename(columns={'Names':'PEOPLE'},inplace=True)
print(df3)

   PEOPLE  Age
0   peter   23
1   harry   32
2  robert   34

In [15]:
df=df.drop('a')
print(df)

     Name  Age
b   harry   22
c  robert   34

In [16]:
df=pd.DataFrame(data,columns=['Name','Age'],index=['a','b','c'])

In [17]:
# printing the row
print(df['Age'])

a    21
b    22
c    34
Name: Age, dtype: int64

In [19]:
# printing the column
print(df.loc['a'])

Name    peter
Age        21
Name: a, dtype: object

In [22]:
# printing the column

print(df.iloc[2])
print(df.iloc[0:2])

Name    robert
Age         34
Name: c, dtype: object
    Name  Age
a  peter   21
b  harry   22

In [25]:
salary=[1000,2000,4000]
df.insert(2,'salary',salary)

ValueError: cannot insert salary, already exists

In [26]:
print(df)

     Name  Age  salary
a   peter   21    1000
b   harry   22    2000
c  robert   34    4000

In [28]:
data=[['Anny',21],['Mike',22],['Prince',34]]
df2=pd.DataFrame(data,columns=['Name','Age'])

In [29]:
df.append(df2)
print(df)

     Name  Age
0    Anny   21
1    Mike   22
2  Prince   34

In [33]:
data2=[['peter',21],['harry',22],['robert',34]]
df1=pd.DataFrame(data,columns=['Name','Age'])
df=df.append(df2)
print(df)

     Name  Age
0    Anny   21
1    Mike   22
2  Prince   34
0    Anny   21
1    Mike   22
2  Prince   34
0    Anny   21
1    Mike   22
2  Prince   34

In [36]:
del df['Age']
print(df)

KeyError: 'Age'

In [38]:
print(df)

     Name
0    Anny
1    Mike
2  Prince
0    Anny
1    Mike
2  Prince
0    Anny
1    Mike
2  Prince

In [1]:
# pima diabetes dataset
import pandas as pd
data=pd.read_csv('diabetes.csv');
print(data)

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0              6      148             72             35        0  33.6
1              1       85             66             29        0  26.6
2              8      183             64              0        0  23.3
3              1       89             66             23       94  28.1
4              0      137             40             35      168  43.1
..           ...      ...            ...            ...      ...   ...
763           10      101             76             48      180  32.9
764            2      122             70             27        0  36.8
765            5      121             72             23      112  26.2
766            1      126             60              0        0  30.1
767            1       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age  Outcome
0                       0.627   50        1
1                       0.351   31        0
2                       0.672   32        1
3                       0.167   21        0
4                       2.288   33        1
..                        ...  ...      ...
763                     0.171   63        0
764                     0.340   27        0
765                     0.245   30        0
766                     0.349   47        1
767                     0.315   23        0

[768 rows x 9 columns]

In [3]:
print(data['Age'])

0      50
1      31
2      32
3      21
4      33
       ..
763    63
764    27
765    30
766    47
767    23
Name: Age, Length: 768, dtype: int64

In [4]:
count=0
for i in data['BMI']:
    if i>=26:
        count=count+1;
        
print(count)

613

In [5]:
mylist=['Glucose','Insulin']
data2=data[mylist]
print(data2)

     Glucose  Insulin
0        148        0
1         85        0
2        183        0
3         89       94
4        137      168
..       ...      ...
763      101      180
764      122        0
765      121      112
766      126        0
767       93        0

[768 rows x 2 columns]